* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', Geneva, Tahoma, Verdana, sans-serif;
    
}
body {
    max-height: 100vh;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;

}

#small {
    width: 50px;
    border-radius: 50px;
    border: 2px solid rgb(200, 200, 200,0.99);
}

.button-effect:hover {
    -webkit-transform: scale(1.08);
    cursor: pointer;
}
.button-effect:active {
  transform: translateY(4px);
}

/*-----------Effects/Things-----------*/



/* Sidebar start */

.sidebar {
    display: grid;
    font-weight: bold;
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    grid-row: 1/3;
    grid-column: 1/2;
}

.side-button {
    font-size: 25px;    

    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border-radius: 15px;
}

.side-button:hover {
    -webkit-transform: scale(1.08);
    cursor: pointer;
}
.side-button:active {
  transform: translateY(4px);
}


.navlink {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    
}

.navlink > ul {
    display: grid;
    row-gap: 25px;
    list-style: none;
}

li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 25px;
}

.navlink > ul:last-child {
    margin-top: 60px;
}



li:hover {
    -webkit-transform: scale(1.08);
    cursor: pointer;
}
li:active {
  transform: translateY(4px);
}


/* Sidebar end */

/* Header start */

.header {
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    
    grid-row: 1/2;
    grid-column: 2/3;
    border-radius: 145px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

label[for="search"] {
    display: flex;
    margin-top: 25px;
    margin-left: 45px;
}

.welcome {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    gap: 25px;
}

.pic {
    width: 70px;
    border-radius: 50px;
    border: 3px solid rgb(200, 200, 200,0.99);
    margin-left: 5vw;

}

.textheader {
    font-weight: bold;
    font-size: 0.8rem;
}

.textname {
    font-size: 1.5rem;
    font-weight: bold;
}

#headertext {
    display: grid;
}


#search {
    border: none;
width: 25vw;
height: 4vh;
border-radius: 25px;
padding-left: 10px;
padding-bottom: 3px;
background-color: rgb(82, 82, 82, 0.1);
}

#search:focus {
    border: none;

}

.profile {
    display: flex;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-right: 7vw;
    align-items: center;
    justify-content: center;
}

#impx {
display: flex;
align-items: center;
justify-content: center;
gap: 25px;
}

.interactive {
    display: flex;
    margin-top: 25px;
}

.button-effect {
    margin-bottom: 15px;
    margin-right: 5vw;
    display: flex;
    color: white;
    background-color: rgb(36, 155, 219);
    border-radius: 25px;
    width: 6vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

/*Header end*/

/*Main start*/

.main {
    display: grid;
    background-color: rgb(219, 225, 233);
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: 3fr 1fr  ;
    grid-template-rows: 1fr 1fr;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    grid-row: 1/2;
    grid-column: 1/2;
}

.project-heading {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 2vh;
    margin-left: 2vw;
}

.project-content {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 15vh;
    background-color: white;
    margin-left: 25px;
    margin-top: 15px;
    background-image: -webkit-linear-gradient(left, #88c7ff, #88c7ff 2%, transparent 2%, transparent 100%);
    border-radius: 10px;
}

.box-header {
    font-weight: bold;
    margin-left: 25px;
    margin-top: 15px;
}

.box-text {
    color: gray;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 0.8rem;
}

.signs {
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
}

.sign:hover {
    -webkit-transform: scale(1.08);
    cursor: pointer;
}
.sign:active {
  transform: translateY(4px);
}

.announcement {
grid-row: 1/2;
grid-column: 2/4;
}



/*Main end*/


